<html>

<head>
  <title>Mi Sitio </title>
  <link rel='stylesheet' href='stylesheets/header.css'>
  <link rel='stylesheet' href='stylesheets/style.css'>
</head>

<body>
  <header>

    <a href="/" class="logo">
      <img src="/images/logoPeli.png" alt="logo de la compañia" class="logo-img">
      <h2 class="logo-nombre">Peliculas </h2>
    </a>

    <nav>
      <a href='/peliculas/crear'>Crear Pelis</a>
      <a href='/peliculas'>Ver Pelis</a>
    </nav>

  </header>